.main {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

h1 {
    color: #3289a8;
  }

  h2 {
    color: #5aa832;
  }

  .line {
    border-bottom: 1px solid #f00; /* Параметры линии */
   }

   .logo {
    position:relative;
    float: left;
    width:60px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    }

    .fon{
      color: #f0f5f5
    }

    .box {
      background-color:  #f0f5f5;
    }